
{% extends "UserData/base.html" %}
{% block page_content %}
            <h5 class="card-title">改密碼</h5>
            <h6 class="card-subtitle mb-2 text-muted">Welcome To My Blog</h6>

            <form action = "{{url_for('UserData.changepassword')}}" method = "POST">
                {{ form.csrf_token }}
                <fieldset>
                    {{ form.password_old.label }}
                    <br>
                    {{ form.password_old }}
                    <br>
                    {{ form.password_new.label }}
                    <br>
                    {{ form.password_new }}
                     <br>
                    {{ form.password_new_confirm.label }}
                    <br>
                    {{ form.password_new_confirm }}
                    <br>
                    <br>
                    <br>
                    {{ form.submit }}
                </fieldset>
            </form>
{% endblock page_content%}