
{% extends "UserData/base.html" %}
{% block content %}
            <h5 class="card-title">登入</h5>
            <h6 class="card-subtitle mb-2 text-muted">Welcome To My Blog</h6>

            <form action = "{{url_for('UserData.login')}}" method = "POST">
                {{ form.csrf_token }}
                <fieldset>
                    {{ form.email.label }}
                    <br>
                    {{ form.email }}
                    <br>
                    {{ form.password.label }}
                    <br>
                    {{ form.password }}
                    <br>
                    <br>
                    <br>
                    {{ form.submit }}
                    <p>忘記密碼
                        <a href="{{ url_for('UserData.reset_password') }}">點選重置</a>
                    </p>
                </fieldset>
            </form>
{% endblock content%}