{% extends "UserData/base_off.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="row">
    <span></span>
</div>

<div class="row">
   <div class="container">
       <div class="">
           <h2 class="text-center">報價單資料</h2>
       </div>
   </div>
</div>

<div class="row">
        <form name="frm-example" id="frm-example" method="POST">
            <table id="example" class="display" cellspacing="0" width="100%">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">螺絲編號</th>
                     <th scope="col">身長</th>
                     <th scope="col">身直徑</th>
                     <th scope="col">頭寬</th>
                     <th scope="col">頭長</th>
                     <th scope="col">頭部鑿洞數</th>
                     <th scope="col">頭部形狀</th>
                     <th scope="col">鍍膜種類</th>
                     <th scope="col">價錢</th>
                     <th scope="col">數量</th>
                     <th scope="col">總和</th>
                     <th scope="col">佔比</th>
                  </tr>
               </thead>
               <tbody>
                  {% for item in table_list %}
                  {% if item.chose %}
                  <tr>
                     <td id="index_{{ loop.index|string}}">{{ loop.index }}</td>
                     <td id="name_{{ loop.index|string}}">{{ item.screwclass.number }}</td>
                     <td id="Body_Length_{{ loop.index|string}}">{{ item.screwclass.Screw_Body_Length }} mm</td>
                     <td id="Body_Width_{{ loop.index|string}}">{{ item.screwclass.Screw_Body_Width }} mm</td>
                     <td id="Head_Width_{{ loop.index|string}}">{{ item.screwclass.Screw_Head_Width }} mm</td>
                     <td id="Head_length_{{ loop.index|string}}">{{ item.screwclass.Screw_Head_length }} mm</td>
                     <td id="Head_wholenum_{{ loop.index|string}}">{{ item.screwclass.Screw_Head_wholenum }}</td>
                     <td id="Screw_Head_Type_{{ loop.index|string}}">{{ item.screwclass.Screw_Head_Type }}</td>
                     <td id="Screw_coat_{{ loop.index|string}}">{{ item.screwclass.Screw_coat }}</td>
                     <td id="price_{{ loop.index|string}}">{{ item.screwclass.ScrewPrice }} NTD</td>
                     <td><input type="number" name="number_{{ loop.index|string}}" value=1 min="1"></td>
                     <td id="totalprice_{{ loop.index|string}}">{{ item.screwclass.ScrewPrice }} NTD</td>
                     <td id="ratio_{{ loop.index|string}}">{{  item.screwclass.ScrewPrice/total_price*100 }}%</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
               <tfoot>
                  <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col" id="demo"> {{ total_price }} NTD</th>
               </tfoot>
            </table>


            <p><button>確認</button></p>

        </form>

</div>
    

      <h2>
         <button id="btnExport" onclick="clic2csv();">匯出excel</button>
      </h2>

<div class="row" style="display:none">
   <table id="nonshow_table" class="display" cellspacing="0" width="100%">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">螺絲編號</th>
            <th scope="col">身長</th>
            <th scope="col">身直徑</th>
            <th scope="col">頭寬</th>
            <th scope="col">頭長</th>
            <th scope="col">頭部鑿洞數</th>
            <th scope="col">頭部形狀</th>
            <th scope="col">鍍膜種類</th>
            <th scope="col">價錢</th>
            <th scope="col">數量</th>
            <th scope="col">總和</th>
            
         </tr>
      </thead>
      <tbody>
         {% for item in table_list %}
         <tr>
            <td id="excel_index_{{ loop.index|string}}"></td>
            <td id="excel_name_{{ loop.index|string}}"></td>
            <td id="excel_Body_Length_{{ loop.index|string}}"></td>
            <td id="excel_Body_Width_{{ loop.index|string}}"></td>
            <td id="excel_Head_Width_{{ loop.index|string}}"></td>
            <td id="excel_Head_length_{{ loop.index|string}}"></td>
            <td id="excel_Head_wholenum_{{ loop.index|string}}"></td>
            <td id="excel_Screw_Head_Type_{{ loop.index|string}}"></td>
            <td id="excel_Screw_coat_{{ loop.index|string}}"></td>
            <td id="excel_price_{{ loop.index|string}}"></td>
            <td id="excel_number_{{ loop.index|string}}"></td>
            <td id="excel_totalprice_{{ loop.index|string}}"></td>
         </tr>
         {% endfor %}
      </tbody>
      <tfoot>
         <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" id="excel_demo"> NTD</th>
      </tfoot>
   </table>
</div>


      <script>
         var num_list=[];
        $(document).ready(function ()
        {

            var table = $('#example').DataTable();
            

            // Handle form submission event 
            $('#frm-example').on('submit', function(e)
            {
               // Prevent actual form submission
               e.preventDefault();

               // Serialize form data
               var data = table.$('input').serialize();
               // Submit form data via Ajax
               
               /*
               $.ajax({
                  url: '/echo/jsonp/',
                  data: data,
                  success: function(data){
                     console.log('Server response', data);
                  }
               });
               */
               // FOR DEMONSTRATION ONLY
               // The code below is not needed in production
               
               // Output form data to a console     
               //$('#example-console-form').text(data);

               var num_data=data.toString().split("&")
               var total_out=0
               for (let i = 0; i < num_data.length; i++)
               {
                  var id_num=i+1
                  var price=document.getElementById("price_"+id_num.toString()).innerHTML
                  var num=num_data[i].split("=")[1]
                  
                  //alert("price :"+Number(price.split(' ')[0])+"\n"+"num : "+Number(num))
                  document.getElementById("totalprice_"+id_num.toString()).innerHTML = (Number(price.split(' ')[0])*Number(num)).toString()+" NTD"
                  total_out=total_out+Number(price.split(' ')[0])*Number(num)
               }
               for (let i = 0; i < num_data.length; i++)
               {
                  var id_num=i+1
                  var price=document.getElementById("price_"+id_num.toString()).innerHTML
                  var num=num_data[i].split("=")[1]
                  document.getElementById("totalprice_"+id_num.toString()).innerHTML = (Number(price.split(' ')[0])*Number(num)).toString()+" NTD"
                  document.getElementById("ratio_"+id_num.toString()).innerHTML=(Number(price.split(' ')[0])*Number(num)/total_out*100).toString()+" %"
                  //nonvisibletable//
                  document.getElementById("excel_index_"+id_num.toString()).innerHTML=document.getElementById("index_"+id_num.toString()).innerHTML
                  document.getElementById("excel_name_"+id_num.toString()).innerHTML=document.getElementById("name_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Body_Length_"+id_num.toString()).innerHTML=document.getElementById("Body_Length_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Body_Width_"+id_num.toString()).innerHTML=document.getElementById("Body_Width_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Head_Width_"+id_num.toString()).innerHTML=document.getElementById("Head_Width_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Head_length_"+id_num.toString()).innerHTML=document.getElementById("Head_length_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Head_wholenum_"+id_num.toString()).innerHTML=document.getElementById("Head_wholenum_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Screw_Head_Type_"+id_num.toString()).innerHTML=document.getElementById("Screw_Head_Type_"+id_num.toString()).innerHTML
                  document.getElementById("excel_Screw_coat_"+id_num.toString()).innerHTML=document.getElementById("Screw_coat_"+id_num.toString()).innerHTML
                  document.getElementById("excel_price_"+id_num.toString()).innerHTML=document.getElementById("price_"+id_num.toString()).innerHTML
                  document.getElementById("excel_number_"+id_num.toString()).innerHTML=num.toString()
                  document.getElementById("excel_totalprice_"+id_num.toString()).innerHTML=document.getElementById("totalprice_"+id_num.toString()).innerHTML
               
                  num_list.push(num.toString())
               }

      
               document.getElementById("demo").innerHTML = total_out.toString()+"NTD"
               document.getElementById("excel_demo").innerHTML=document.getElementById("demo").innerHTML = total_out.toString()+"NTD"
            });      
         });
        

         function clic2csv()
         {
            var html = document.querySelector("table").outerHTML;
            htmlToCSV(html, "報價單.csv");
         }
         function htmlToCSV(html, filename)
         {
            var data = [];
            var rows = document.querySelectorAll("table tr");
            
            var tablelen= rows.length;
            for (var i = 0; i < tablelen/2; i++) {
               var row = [], cols = rows[i].querySelectorAll("td, th");
               for (var j = 0; j < cols.length; j++) 
               {
                  if(i!=0)
                  {
                     if(j==10)
                     {
                        row.push(num_list[i-1]);
                     }
                     else
                     {
                        row.push(cols[j].innerText);
                     }
                  }
                  else
                  {
                        row.push(cols[j].innerText);
                  }
               }
                     
               data.push(row.join(",")); 		
            }

            downloadCSVFile(data.join("\n"), filename);
         }

         function downloadCSVFile(csv, filename)
         {
            var csv_file, download_link;

            csv_file = new Blob([csv], {type: "text/csv"});

            download_link = document.createElement("a");

            download_link.download = filename;

            download_link.href = window.URL.createObjectURL(csv_file);

            download_link.style.display = "none";

            document.body.appendChild(download_link);

            download_link.click();
         }

      </script>

{% endblock page_content %}